%h1
  = t('kiitos.user_dashboard.index.received_kiitos')
= form_tag user_dashboard_path, method: :get, class: 'nav-tabs' do
  %ul
    %li
      = link_to t('kiitos.user_dashboard.index.all'), history_index_path, id: 'all_kiitos'
    %li
      = link_to t('kiitos.user_dashboard.index.recent'), user_dashboard_path
%ul.list-group
  - messages.each do |kiito, count|
    %li{ data: { id: kiito.id }}
      .badge
        = image_tag kiito.image_url(:message_list)
      .message-info
        %p= kiito.kiitos_category.name
      - if count > 1
        .times
          %span= t 'kiitos.user_dashboard.index.count', count: count

#history-modal