%footer
  %ul
    %li
      = link_to '#' do
        = image_tag 'kiitos/SVG/logo-crowd.svg', alt: 'Crowd Interactive'
    %li
      = link_to '#' do
        = image_tag 'kiitos/SVG/culture-sites.svg', alt: 'Crowd Interactive'
    %li.info
      = link_to '#' do
        = image_tag 'kiitos/SVG/info.svg', alt: 'Crowd Interactive'
