= form_for message, html: { id: 'send-kiito' } do |f|
  .dialog-inverted
    .users-list
      %span.choose-secondary
        +
      .who
        = t('.to_who')
        %br
        %span.optional
          = t('.optional')
        %span.arrow-right
      = f.label :to
      = f.select :to, all_users_except_current, {}, class: 'chosen-select'
    .kiitos-list
      %span.choose
        +
      .which
        %span.arrow-left
        = t('.which')
      .list-wrapper.hidden
        %ul
          - Kiitos::Kiito.all.map { |k| [k.title, k.id, k.image] }.each do |title, id, image|
            %li
              %span.badge
                = image_tag 'kiitos/PNG/category.png'
              = f.label "kiitos_kiito_id_#{id}", title
              = f.radio_button :kiitos_kiito_id, id

  .receiver-pic.badge-inverted
  .message-info
    %h3= t('kiitos.kiito')
    .dialog-dark
      = f.text_area :message, placeholder: "#{t('.your_comment')}"
    %span.by
      = t('.by')
      = current_user.name
    %span.count
    %span.date-now
      = pretty_date Time.now
    %br
    = f.label :anonymous
    = f.check_box :anonymous
  = f.submit t('.submit'), class: 'btn'

  :coffee
    $(".chosen-select").chosen
      allow_single_deselect: true
      no_results_text: 'No results matched'
      width: '200px'

    $('.kiitos-list').delegate '.choose', 'click', ->
      $('.kiitos-list .list-wrapper').toggleClass 'hidden'

    count = ->
      length = $('#message_message').val().length
      $('.count').text(140 - length)

    count()

    $('#message_message').keyup ->
      count()
