= form_for message, html: { id: 'send-kiito' } do |f|
  = hidden_field_tag 'message[to]'
  .dialog-inverted
    .users-list
      .who-selection.hidden
        .user-search
          .user-select
            = text_field_tag :search_to, nil, placeholder: 'Search here!'
        -#.add
        -#.remove
      .who
        %p
          = t('.to_who')
        %span.choose-secondary
          +
        %span.arrow-right
    .kiitos-list
      %span.choose
        +
      .which
        %span.arrow-left
        %p
          = t('.which')
      .list-wrapper.hidden
        %ul
          - Kiitos::Kiito.all.map { |k| [k.title, k.id, k.image_url(:kiitos_list)] }.each do |title, id, image|
            %li
              %span.badge
                = image_tag image
              = f.label "kiitos_kiito_id_#{id}", title
              = f.radio_button :kiitos_kiito_id, id

  .receiver-pic.badge-inverted
  .message-info
    %h3= t('kiitos.kiito')
    .dialog-dark
      = f.text_area :message, placeholder: "#{t('.your_comment')}"
    %span.by
      = t('.by')
      = kiitos_current_user.name
    %span.count
    %span.date-now
      = pretty_date Time.now
  .send
    = f.submit t('.submit'), id: 'submit-kiito', disabled: 'disabled', class: 'btn'
    .anonymous
      = f.check_box :anonymous
      = f.label :anonymous
