= form_for message, html: { id: 'send-kiito' } do |f|
  .dialog-inverted
    = f.label :to
    = f.select :to, all_users_except_current, {}, class: 'chosen-select'
    = f.label :kiitos_kiito_id
    = f.select :kiitos_kiito_id, Kiitos::Kiito.all.map { |k| [k.title, k.id] }

  .receiver-pic.badge
  .message-info
    %h3 Kiito
    = f.text_area :message, placeholder: 'Your comment here!'
    %br
    %span
      by:
      = current_user.name
    %br
    = f.label :anonymous
    = f.check_box :anonymous
  %br
  = f.submit t('.submit'), class: 'btn'

  :coffee
    $(".chosen-select").chosen
      allow_single_deselect: true
      no_results_text: 'No results matched'
      width: '200px'
