#user-dashboard.pure-u-7-12
  .wrapper
    #user-info
      %h1#logo t('kiitos.title')
      #admin-header-text.hidden
        = raw t('kiitos.user_dashboard.index.instructions.admin.form-enabled')
      #user-header-text
        = raw t(can_send?, scope: 'kiitos.user_dashboard.index.instructions.user')

      #user-widget
        = render 'shared/parallax'

        .welcome-back
          %p
            = t('.welcome_back')
          = format_user_name kiitos_current_user

    - if is_admin?
      = render 'shared/admin_menu'

    = render 'kiitos/user_dashboard/admin/manage_content', administrators: @administrators

    #new-kiito{class: (can_send?)}
      = render 'kiitos/user_dashboard/form', message: @message

    = render 'shared/separator', type: ''

    = render 'shared/footer', type: ''

#received-kiitos.pure-u-5-12
  = render 'kiitos/user_dashboard/kiitos/received', messages: @messages

:coffee
  initialize_parallax()
  scene = document.getElementById 'scene'
  parallax = new Parallax(scene,
    scalarY: 30
  )
