.pure-u-3-5
  #user-info
    %h1 Kiitos
    %p 
      You only have 1 Kiito to give each day
      %strong
        Who deserves it?
    .user-pic
    %p
      Welcome Back
      = current_user.name
  #new-kiito
    = render 'kiitos/user_dashboard/form', message: @message

#received-kiitos.pure-u-2-5
  %h1 Kiitos Received
  = form_tag user_dashboard_path, method: :get do
    %button{name: 'search_span'}
      = t('.months_2')
  %ul
    - @messages.each do |message|
      %li
        .badge
          = message.kiitos_kiito.image
        = message.kiitos_kiito.title
        %br
        .dialog
          = message.message
        %br
        = message.sender_email
