= form_tag user_dashboard_path, method: :get do
  %button{name: 'search_span'}
    = t('.months_2')
%ul#received-kiitos
  - @messages.each do |message|
    %li
      = "#{message.sender_email} => #{message.kiitos_kiito.title}"

#new-kiito
  = render 'kiitos/user_dashboard/form', message: @message
