#edit-kiito
  = form_for [:admin, @kiito] do |f|
    = f.label :title
    = f.text_field :title
    = f.label :kiitos_category_id
    = f.select :kiitos_category_id, Kiitos::Category.all.map { |c| [c.name, c.id] }
    = f.label :description

    = f.text_area :description
    = f.label :image

    = f.text_field :image
    = f.label :state

    = f.select :state, [[t('kiitos.enabled'), t('kiitos.enabled').downcase], [t('kiitos.disabled'), t('kiitos.disabled').downcase]]
    = f.submit

