#new-kiito
  = form_for [:admin, @kiito] do |f|
    = f.label :title, t('.title')
    = f.text_field :title
    = f.label :kiitos_category_id, t('.category')
    = f.select :kiitos_category_id, Kiitos::Category.all.map { |c| [c.name, c.id] }
    = f.label :description, t('.description')
    = f.text_area :description
    = f.label :image, t('.image')
    = f.text_field :image
    = f.label :state, t('.state')
    = f.select :state, [[t('.enabled'), t('.enabled').downcase], [t('.disabled'), t('.disabled').downcase]]
    = f.submit

%ul#kiitos
  = render partial: 'kiito', collection: @kiitos
